extends ../layout

block content
    .container
        .jumbotron
            h2 #{title}
        .row
            .col-xs-9
                .panel.panel-default
                    .panel-body
                        h3 #{articles.title}
                        p
                            span.label.label-default #{articles.author} 
                            //- span #{articles.date}
                        p  #{articles.content} 
            .col-xs-3
                ul.list-group
                    //- each item in aList
                    //-     a(href='/detail/#{ item._id }')
                    //-         li.list-group-item #{item.title}