extends ../layout

block content
    .container
        .jumbotron
            h2 #{title}
        .row
            .col-xs-9
                .panel.panel-default
                    .panel-body
                        h3 #{article.title}
                        p
                            span.label.label-default #{article.author} 
                            //- span #{articles.date}
                        p  #{article.content} 
            .col-xs-3
                //- include linklist
                //- ul.list-group
                //-     each item in articles
                //-         a(href='/detail/#{ item._id }')
                //-             li.list-group-item #{item.title}