extends ../layout

block content
    .container
        .jumbotron
            h2 #{title}
        each item in articles
            .panel.panel-default
                .panel-body
                    h3 #{item.title}
                    span #{item.author}
                    p #{item.summary}
                    a(href='./detail/#{item._id}') 详情
